{% include head.html %}
{% include header.html %}

<div id="container">



        <div class="row cf" id="main">
        <div class="col span_4 content" id="full-single">
                    <div>
                 <section class="row cf title">
                    <div class="col span_4">
                        <h1 class="">{{ page.title }}</h1>
                        <h3 class="subhead"></h3>
                        <!--<p class="date">
                                
                        </p>-->
                    </div>
                </section>
            </div><!--end of post-->
        
                <div class="entry" id="long-format">
                    {{ content }}
                                    </div>
                                    </div>
                                    
{% include footer.html %}